@page "/administration"

@using DiplomaThesis.Client.Services.Interfaces
@using DiplomaThesis.Shared.Contracts
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

@inject IAdministrationService AdministrationService

<PageTitle>ReporTiny - Administration</PageTitle>
<PageHeader Text="Administration" />

@if (_users is null || _user_groups is null)
{
    <Loader />
}
else
{
    <div class="animate__animated animate__fadeIn">
        <div class="page_main_menu_default">
            <div class="group_left">
                <button class="button_default @(_showUsers ? "selected" : "")" @onclick="() => _showUsers = true">Users</button>
                <button class="button_default @(!_showUsers ? "selected" : "")" @onclick="() => _showUsers = false">User groups</button>
            </div>

            <div class="group_right">
                @if (_showUsers)
                {
                    <input type="text" class="input_search_default" placeholder="Search by name..."
                   @oninput="@((e) => SearchUser(e.Value!.ToString()!))">
                }
                else
                {
                    <div class="input_with_button_default input_with_button animate__animated animate__fadeIn">
                        <input @bind="_new_user_group_name" type="text" placeholder="Create new group...">
                        <button class="button1" @onclick="CreateUserGroupButton"><i class="material-icons icon">add</i></button>
                    </div>
                    <input type="text" class="input_search_default" placeholder="Search by name..."
                   @oninput="@((e) => SearchUserGroup(e.Value!.ToString()!))">
                }
            </div>
        </div>

        @if (_showUsers)
        {
            @if (!_users_searched!.Any())
            {
                <div class="info_nothing_here_default vh_centered animate__animated animate__fadeIn">No users to display</div>
            }
            else
            {
                <ul class="list_default list_users animate__animated animate__fadeIn">
                    <li class="header">
                        <div class="col col_25">ID</div>
                        <div class="col col_25">Name</div>
                        <div class="col col_25">Group</div>
                        <div class="col col_25">Roles</div>
                    </li>
                    @foreach (var user in _users_searched!)
                    {
                        <li class="row selectable" @onclick="() => _userMenu.ShowUser(user)">
                            <div class="col col_25" data-label="ID">@user.Id</div>
                            <div class="col col_25" data-label="Name">@user.Name</div>
                            <div class="col col_25" data-label="Group">
                                @if (user.UserGroupId.ToString() == Guid.Empty.ToString())
                                {
                                    <div class="info_light">No group</div>
                                }
                                else
                                {
                                    @_user_groups.FirstOrDefault(
                userGroup => userGroup?.Id.Equals(user.UserGroupId) ?? false, null
                )?.Name
                                }

                            </div>
                            <div class="col col_25" data-label="Roles">
                                @if (user.Roles.Count() == 0)
                                {
                                    <div class="text_light">No roles</div>
                                }
                                else
                                {
                                    @foreach (var role in user.Roles)
                                    {
                                        <text>@role.Name&nbsp;</text>
                                    }
                                }

                            </div>
                        </li>

                    }
                </ul>
                <UserMenu @ref="_userMenu" OnUserChanged="UpdateData" />
            }
        }
        else
        {
            @if (!_user_groups_searched!.Any())
            {
                <div class="info_nothing_here_default vh_centered animate__animated animate__fadeIn">No user groups to display</div>
            }
            else
            {
                <ul class="list_default list_groups animate__animated animate__fadeIn">
                    <li class="header">
                        <div class="col col_25">ID</div>
                        <div class="col col_20">Name</div>
                        <div class="col col_20">Leader</div>
                        <div class="col col_20">Description</div>
                        <div class="col col_20">Users</div>
                    </li>
                    @foreach (var userGroup in _user_groups_searched!)
                    {
                        <li class="row selectable" @onclick="() => _userGroupMenu!.ShowUserGroup(userGroup)">
                            <div class="col col_25" data-label="ID">@userGroup.Id</div>
                            <div class="col col_20" data-label="Name">@userGroup.Name</div>
                            <div class="col col_20" data-label="Leader">
                                @if (userGroup.Users != null)
                                {
                                    @userGroup.Users.Where(u => u.Id == userGroup.LeaderId).Select(u => u.Name).DefaultIfEmpty(string.Empty).First()
                                }
                            </div>
                            <div class="col col_20" data-label="Name">@userGroup.Description</div>
                            <div class="col col_20" data-label="Users">@userGroup.Users.Count()</div>
                        </li>

                    }
                </ul>
                <UserGroupMenu @ref="_userGroupMenu" OnUserGroupChanged="UpdateData" />
            }
        }
    </div>
}


@code {
    private UserMenu? _userMenu = null!;
    private UserGroupMenu? _userGroupMenu = null!;

    private List<UserContract>? _users;
    private List<UserContract>? _users_searched;
    private List<UserGroupContract>? _user_groups;
    private List<UserGroupContract>? _user_groups_searched;

    private string _new_user_group_name = "";

    private bool _showUsers = true;

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        var users = await AdministrationService.GetAllUsers();
        var userGroups = await AdministrationService.GetAllUserGroups();

        if (users is not null)
        {
            _users = users;
            _users_searched = users;
        }

        if (userGroups is not null)
        {
            _user_groups = userGroups;
            _user_groups_searched = userGroups;
        }

        StateHasChanged();
    }

    private async Task CreateUserGroupButton()
    {
        if (_new_user_group_name == "" || _new_user_group_name == null)
        {
            return;
        }

        if (await AdministrationService.CreateUserGroup(_new_user_group_name))
        {
            _new_user_group_name = "";
            await UpdateData();
        }
    }

    private void SearchUser(string searched_user)
    {
        if (searched_user is null)
        {
            return;
        }
        _users_searched = _users!.FindAll(u => u.Name.Contains(searched_user));
    }

    private void SearchUserGroup(string searched_user_group)
    {
        if (searched_user_group is null)
        {
            return;
        }
        _user_groups_searched = _user_groups.FindAll(ug => ug.Name.Contains(searched_user_group));
    }
}