@page "/datasets"
@using DiplomaThesis.Client.Services.Interfaces
@using DiplomaThesis.Shared.Contracts
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin, Architect")]

@inject IDatasetService DatasetService
@inject IFileParsingService Parser

<PageTitle>Datasets - ReporTiny</PageTitle>
<PageHeader Text="Datasets" />

@if (DatasetList is null)
{
    <Loader />
}
else
{
    <div class="animate__animated animate__fadeIn">
        <div class="menu">
            <div class="group_left">
                <button class="button_default" @onclick="() => DatasetNewMenu!.Show()">New dataset</button>
            </div>

            <div class="group_right">
                <input type="text" class="input_search_default" placeholder="Search by name..."
                   @oninput="@((e) => SearchDatasetByName(e.Value!.ToString()!))">
            </div>
        </div>

        <ul class="list_default list_datasets animate__animated animate__fadeIn">
            <li class="header">
                <div class="col col_25">ID</div>
                <div class="col col_25">Name</div>
                <div class="col col_25">Columns</div>
                <div class="col col_25">Uploaded through ReporTiny</div>
            </li>
            @foreach (var dataset in DatasetListFiltered!)
            {
                <li class="row selectable" @onclick="() => DatasetMenu!.ShowDataset(dataset)">
                    <div class="col col_25" data-label="ID">@dataset.Id</div>
                    <div class="col col_25" data-label="Name">@dataset.Name</div>
                    <div class="col col_25" data-label="Columns">@dataset.ColumnNames.Count()</div>
                    <div class="col col_25" data-label="Uploaded through ReporTiny">@dataset.ColumnNames.Any()</div>
                </li>
            }
        </ul>

        <DatasetNewMenu @ref="DatasetNewMenu" OnDatasetChanged="UpdateData" />
        <DatasetMenu @ref="DatasetMenu" OnDatasetChanged="UpdateData" />
    </div>
}

@code {
    private DatasetMenu? DatasetMenu = null!;
    private DatasetNewMenu? DatasetNewMenu = null!;

    private List<DatasetContract>? DatasetList { get; set; }
    private List<DatasetContract>? DatasetListFiltered { get; set; }
    private string SearchValue { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        var datasets = await DatasetService.GetDatasets();
        DatasetList = datasets;
        DatasetListFiltered = datasets;

        StateHasChanged();
    }

    private void SearchDatasetByName(string searched_dataset_name)
    {
        if (searched_dataset_name is null)
        {
            return;
        }
        DatasetListFiltered = DatasetList!.FindAll(d => d.Name.Contains(searched_dataset_name));
    }

}