@page "/data-sources"
@using DiplomaThesis.Client.Services.Interfaces
@using DiplomaThesis.Shared.Contracts
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin, Architect")]

@inject IDatasetService DatasetService
@inject IFileParsingService Parser

<PageTitle>Datasets</PageTitle>
<PageHeader Text="Datasets" />

    @if (DatasetArray is null)
    {   
        <Loader />
    }
    else
    {
        <div class="animate__animated animate__fadeIn">
            <div class="menu">
                <div class="search">
                <input type="text" class="input_text" placeholder="Search by name..." @onkeydown="@FilterDatasetsWithEnter" 
                        @bind="@SearchValue" @oninput="@((e) => { SearchValue=(string)e.Value;})">
                    <button class="button_search" @onclick="FilterDatasets"><i class="material-icons icon">search</i></button>
                </div>
                <div class="buttons">
                    <label class="input_file">
                        New dataset
                        <InputFile OnChange="@(args => LoadFile(args, Guid.Empty))" style="display: none;"/>
                    </label>
                <button class="button_settings"><i class="material-icons icon">settings</i></button>
                </div>
            </div>
            <div class="datasets">
            @foreach (var dataset in DatasetArray)
            {
                <div class="dataset">
                    <div class="name">@dataset.Name</div>
                    <table class="table_info">
                        <tr>
                            <td>ID</td>
                            <td>@dataset.Id</td>
                        </tr>
                    </table>
                
                    @if (dataset.ColumnNames.Any())
                    {
                        <strong>Dataset structure:</strong>
                        <br />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Names</th>
                                    <th>Types</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var column in dataset.ColumnNames.Zip(dataset.ColumnTypes))
                                {
                                    <tr>
                                        <td>@column.First</td>
                                        <td>@column.Second</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <strong>Dataset not uploaded through this app.</strong>
                        <br />
                    }
                    <strong>Upload more rows:</strong><br />
                    <InputFile OnChange="@(args => LoadFile(args, dataset.Id))" />
                </div>
            }
            </div>
            @if (DatasetArray.Length == 0)
            {
                <div class="nothing_found">
                    Nothing found :(
                </div>
            }
        </div>

        
    }

    
    

@code {
    DatasetContract[]? DatasetArray { get; set; }
    DatasetContract[]? DatasetArrayFull { get; set; }
    private string SearchValue { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        var datasets = await DatasetService.GetDatasets();
        DatasetArray = datasets;
        DatasetArrayFull = datasets;

        StateHasChanged();
    }

    private async Task LoadFile(InputFileChangeEventArgs e, Guid datasetId)
    {
        var file = e.File;
        var datasetFileContent = await new StreamReader(file.OpenReadStream()).ReadToEndAsync();
        string datasetJson;

        try
        {
            datasetJson = Parser.ParseToJson(datasetFileContent, e.File.Name.Split(".").Last());
            Console.WriteLine(datasetJson);
        }
        catch
        {
            Console.WriteLine("Exception");
            return;
        }


        if (datasetId.Equals(Guid.Empty))
        {
            if (await DatasetService.UploadNewDataset(e.File.Name.Split(".")[0], datasetJson)) _ = UpdateData();
        }
        else
        {
            if (await DatasetService.UploadRowsToDataset(datasetId, datasetJson)) _ = UpdateData();
        }
    }

    public void FilterDatasetsWithEnter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            FilterDatasets();
        }
    }

    private void FilterDatasets(){
        if(DatasetArray != null){
            DatasetArray = DatasetArrayFull;
            DatasetArray = Array.FindAll(DatasetArray, s => s.Name.Contains(SearchValue));
        }
    }

}