@using DiplomaThesis.Client.Services.Interfaces
@using DiplomaThesis.Shared.Contracts
@inject IReportService ReportService
@inject IDatasetService DatasetService
@inject IAdministrationService AdministrationService

<div class="report_menu_container animate__animated animate__fadeIn" style="display: @(ShowMenu ? "block" : "none");">
    <div class="report_menu">
        @if (Report is null || UserGroups is null || Datasets is null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else
        {
            <table class="table_info">
                <tr>
                    <td class="label">ID</td>
                    <td>@Report.Id</td>
                </tr>
                <tr>
                    <td class="label">Name</td>
                    <td>@Report.Name</td>
                </tr>
            </table>

            <table class="table_info">
                <tr>
                    <td class="label">User group</td>
                    <td>@AssignedUserGroupName</td>
                </tr>
            </table>

            <input type="text" class="input_search_default input_search nohover" placeholder="Search and select User group..."
               @oninput="@((e) => SearchUserGroup(e.Value!.ToString()!))">
            <div class="list_user_groups">
                @foreach (var userGroup in UserGroupsFiltered!)
                {
                    <div class="user_group" @onclick="()=> SelectedUserGroupChanged(userGroup)">
                        @userGroup.Name
                    </div>
                }
            </div>

            <table class="table_info">
                <tr>
                    <td class="label">Dataset</td>
                    <td>@AssignedDatasetName</td>
                </tr>
            </table>

            <input type="text" class="input_search_default input_search nohover" placeholder="Search and select Dataset..."
               @oninput="@((e) => SearchDataset(e.Value!.ToString()!))">
            <div class="list_datasets">
                @foreach (var dataset in DatasetsFiltered!)
                {
                    <div class="dataset" @onclick="()=> SelectedDatasetChanged(dataset)">
                        @dataset.Name
                    </div>
                }
            </div>

            <div class="section_header">Clone report</div>
            <div class="input_with_button_default input_with_button">
                <input class="nohover" @bind="_newReportName" type="text" placeholder="New report name...">
                <button @onclick="CloneReportButton"><i class="material-icons icon">add</i></button>
            </div>

            <div class="bottom_menu">
                <div class="group_left">
                    <button class="button_warning" @onclick="DeleteReportButton" @onmouseout="ResetReportDeleteConfirm">
                        @(_deleteReportConfirmation ? "Are you sure?" : "Delete report")
                    </button>
                </div>
                <div class="group_right">
                    <button class="button_default" @onclick="ToggleReportMenu">Save and close</button>
                </div>
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public EventCallback OnReportChanged { get; set; }

    private ReportContract? _report = null;

    private string? AssignedUserGroupName { get; set; }
    private string? AssignedDatasetName { get; set; }

    private bool _deleteReportConfirmation = false;

    public ReportContract? Report
    {
        get => _report;
        set
        {
            _report = value;
            SelectedUserGroupId = (value?.UserGroupId ?? Guid.Empty).ToString();
            SelectedDatasetId = (value?.DatasetId ?? Guid.Empty).ToString();
            ShowMenu = true;
            StateHasChanged();
        }
    }

    private string _selectedUserGroupId = Guid.Empty.ToString();

    private string SelectedUserGroupId
    {
        get => _selectedUserGroupId;
        set
        {
            _selectedUserGroupId = value;
            StateHasChanged();
        }
    }

    private string _selectedDatasetId = Guid.Empty.ToString();

    private string SelectedDatasetId
    {
        get => _selectedDatasetId;
        set
        {
            _selectedDatasetId = value;
            StateHasChanged();
        }
    }

    private List<UserGroupContract>? UserGroups { get; set; }
    private List<UserGroupContract>? UserGroupsFiltered { get; set; }
    private List<DatasetContract>? Datasets { get; set; }
    private List<DatasetContract>? DatasetsFiltered { get; set; }

    public bool ShowMenu { get; set; }

    private string _newReportName = "";

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public void ToggleReportMenu()
    {
        AssignedUserGroupName = UserGroups!.FirstOrDefault(
                                    UserGroups => UserGroups?.Id.Equals(_report!.UserGroupId) ?? false, null
                                )?.Name;
        AssignedDatasetName = Datasets!.FirstOrDefault(
                                    Datasets => Datasets?.Id.Equals(_report!.DatasetId) ?? false, null
                                )?.Name;
        ShowMenu = !ShowMenu;
    }

    private async Task UpdateData()
    {
        var userGroups = await AdministrationService.GetAllUserGroups();
        UserGroups = userGroups;
        UserGroupsFiltered = UserGroups;

        var datasets = await DatasetService.GetDatasets();
        Datasets = datasets;
        DatasetsFiltered = Datasets;
    }

    private async Task SelectedDatasetChanged(DatasetContract dataset)
    {
        if (dataset is null)
        {
            return;
        }

        if (Report is not null)
        {
            if (await ReportService.RebindReportToDataset(Report!.Id, dataset.Id))
            {
                await OnReportChanged.InvokeAsync();
                AssignedDatasetName = dataset.Name;
                StateHasChanged();
            }
        }
    }

    private async Task SelectedUserGroupChanged(UserGroupContract userGroup)
    {
        if (userGroup is null)
        {
            return;
        }

        if (Report is not null)
        {
            if (await ReportService.MoveReportToUserGroup(Report!.Id, userGroup.Id))
            {
                await OnReportChanged.InvokeAsync();
                AssignedUserGroupName = userGroup.Name;
                StateHasChanged();
            }
        }
    }

    private async Task CloneReportButton()
    {
        if (await ReportService.CloneReport(Report!.Id, _newReportName))
        {
            await OnReportChanged.InvokeAsync();
            StateHasChanged();
        }
    }

    private async Task DeleteReportButton()
    {
        if (_deleteReportConfirmation == false)
        {
            _deleteReportConfirmation = true;
            return;
        }
        if (await ReportService.DeleteReport(Report?.Id ?? Guid.Empty))
        {
            ToggleReportMenu();
            await OnReportChanged.InvokeAsync();
        }
    }

    private void ResetReportDeleteConfirm()
    {
        if (_deleteReportConfirmation == true)
        {
            _deleteReportConfirmation = false;
        }
    }

    private void SearchUserGroup(string searched_user_group)
    {
        UserGroupsFiltered = UserGroups!.FindAll(ug => ug.Name.Contains(searched_user_group));
    }

    private void SearchDataset(string searched_dataset)
    {
        DatasetsFiltered = Datasets!.FindAll(d => d.Name.Contains(searched_dataset));
    }


}